<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
xmlns:th="http://www.thymeleaf.org"
<link th:include="common :: common_css">
<!--头部-->
<header th:replace="common :: common_header"></header>
<!--时间-->
<section th:replace="common :: common_time"></section>
<section class="publicMian ">
    <div th:replace="common :: common_leftmenu"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="providerAdd">
            <form action="/updateUserServlet" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <input type="hidden" name="id" value="${id}">
                <div>
                    <label for="userName">用户名称：</label>
                    <input type="text" name="userName" id="userName" value="${user.userName}" placeholder="请输入用户名称"/>
                    <span >*</span>
                </div>

                <div>
                    <label >用户性别：</label>
                    <c:if test="${user.gender == 1}">
                        <select name="gender">
                            <option value="男" name="gender">男</option>
                            <option value="女" name="gender" selected>女</option>
                        </select>
                    </c:if>
                    <c:if test="${user.gender == 2}">
                        <select name="gender">
                            <option value="男" name="gender" selected>男</option>
                            <option value="女" name="gender">女</option>
                        </select>
                    </c:if>
                </div>
                <div>
                    <label for="birthday">出生日期：</label>
                    <input type="text" name="birthday" id="birthday" value="${user.birthday}" placeholder="请输入日期"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="phone">用户电话：</label>
                    <input type="text" name="phone" id="phone" value="${user.phone}" placeholder="请输入电话"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="address">用户地址：</label>
                    <input type="text" name="address" id="address" value="${user.address}" placeholder="请输入地址"/>
                </div>
                <div>
                    <label >用户类别：</label>
                    <c:if test="${user.userRole == 1}">
                        <input type="radio" value="管理员" name="userRole" checked/>管理员
                        <input type="radio" value="经理" name="userRole"/>经理
                        <input type="radio" value="普通用户" name="userRole"/>普通用户
                    </c:if>
                    <c:if test="${user.userRole == 2}">
                        <input type="radio" value="管理员" name="userRole"/>管理员
                        <input type="radio" value="经理" name="userRole" checked/>经理
                        <input type="radio" value="普通用户" name="userRole"/>普通用户
                    </c:if>
                    <c:if test="${user.userRole == 3}">
                        <input type="radio" value="管理员" name="userRole"/>管理员
                        <input type="radio" value="经理" name="userRole"/>经理
                        <input type="radio" value="普通用户" name="userRole" checked/>普通用户
                    </c:if>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.jsp">返回</a>-->
                    <input type="submit" value="保存" />
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
</body>
</html>