<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页-超市账单管理系统</title>
    <link th:include="common :: common_css">
</head>
<body>
<!--头部-->
<header th:replace="common :: common_header"></header>
<!--时间-->
<section th:replace="common :: common_time"></section>
<!--主体内容-->
<section class="publicMian">
    <!--左侧菜单-->
    <div th:replace="common :: common_leftmenu"></div>
    <div class="right">
        <img class="wColck" src="img/clock.jpg" alt=""/>
        <div class="wFont">
            <h2>[[${session.admin.userName}]]</h2>
            <p>欢迎来到超市账单管理系统!</p>
            <span id="hours"></span>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
<div th:include="common :: time"></div>
<div style="text-align:center;">
</div>
</body>
</html>